<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Wetterübersicht</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="{{ weatherdata[0].weather_class if weatherdata else '' }}">
  <div class="container">

    <header class="webseiten-header">
      <h1>🌤️ Wetter in deiner Stadt</h1>
      <p>Bis zu 3 Städte vergleichen</p>
    </header>

    <div class="controls">
        <form method="POST" class="suchformular">
        <button type="button" onclick="toggleDarkmode()">🌗 Darkmode</button>
        <input type="text" name="stadt1" placeholder="Stadt 1">
        <input type="text" name="stadt2" placeholder="Stadt 2">
        <input type="text" name="stadt3" placeholder="Stadt 3">
        <button type="submit">🔍 Suchen</button>  
        </form>
    </div>

    <div class="wetter-container">
      {% for city in weatherdata %}
        <div class="wetter-box {{ city.weather_class }}">
          <div class="zeitstempel">Stand: {{ city.messzeit }}</div>
          <h3>{{ city.name }}</h3>

          {% if city.error %}
            <p style="color: red;">{{ city.error }}</p>
          {% else %}
            <img src="http://openweathermap.org/img/wn/{{ city.icon }}@2x.png" alt="Wettericon">
            <p><strong>{{ city.weather_ger }}</strong> – {{ city.description }}</p>
            <p>🌡️ Temperatur: {{ city.temp }} °C</p>
            <p>🤔 Gefühlt wie: {{ city.feels_like }} °C</p>
            <p>📉 Min: {{ city.temp_min }} °C</p>
            <p>📈 Max: {{ city.temp_max }} °C</p>
            <p>💧 Luftfeuchtigkeit: {{ city.humidity }} %</p>
            <p>🌅 Sonnenaufgang: {{ city.sunrise }}</p>
            <p>🌇 Sonnenuntergang: {{ city.sunset }}</p>
            <p>🕓 Lokale Uhrzeit: {{ city.local_time }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
  // Beim Laden prüfen ob der Browser im local Storage unter dem Schlüssel darkmode den Wert True gespeichert hat. Wenn True dann war darkmode beim letzten Mal aktiv
  if (localStorage.getItem("darkmode") === "true") {
    document.body.classList.add("darkmode"); // dem Body wird die CSS Klasse darkmode hinzugefügt
  }

  // Button-Klick toggelt Klasse und speichert den Zustand
  function toggleDarkmode() {
    document.body.classList.toggle("darkmode"); // Funktion die beim Klicken auf den Darkmodebutton ausgeführt wird, wenn Klasse darkmode noch nicht vorhanden wird sie hinzugeüfgt wenn sie vorhanden ist wird sie entfernt
    localStorage.setItem("darkmode", document.body.classList.contains("darkmode")); // Speichern des neuen Zustandes im local Storage
  }
</script>
</body>
<footer class ="footer">
  © 2025 – Wetterdaten von OpenWeatherMap – Projekt von Pascal Böhm
</footer>

</html>
